*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--clr1);
}

image{
    width: 100%;
}

/* HEADER */

.header-container{
    height: 12vh;
    justify-content: center;
}

.main-header{
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    height: 73px;
    width: 100%;
}

.main-logo{
    width: 130px;
    height: 20px;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/logo.png');
    margin-left: 80px;
}

.main-header-nav a{
    text-decoration: none;
}

.main-header-nav li{
    margin-right: 60px;
}


/* MAIN CONTENT*/
.content-container{
    flex-direction: column;
    background-color: var(--clr2);
    border-radius: 10px;
    height: 81vh;
    align-items: center;
}

.search-input{
    width: 300px;
    height: 50px;
    border-radius: 29px;
    background-color: var(--clr3);
}

/* .gallery {
} */

/* GALLERY */

.gallery-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.meme-img{
    height: 160px;
    border-radius: 14px;
}

.meme-img:hover{
    cursor: pointer;
    opacity:0.5;
}

.main-top-bar{
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
}

/* EDITOR */
.main-editor{
    flex-direction: row;
}
.editor{
    background-color: var(--clr2);
    width: 350px;
    height: 514px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #353536, inset 5px 5px 5px #353536;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

canvas{
    border-radius: 30px;
    background-color: var(--clr2);
    box-shadow: 5px 5px 5px #353536, inset 5px 5px 5px #353536;
}

.pressed{
    border: 1px solid black;
}
/*  FOOTER*/
footer{
    color: white;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
/* VARS */

:root{
    --clr1: #22252c; /* bg-body */
    --clr2: #383b42;  /* bg-gallery */
    --clr3: #22252c;  /* search bar */
    --clr4: #afb1b4; /*editor*/
}

/* LAYOUT */
.main-layout{
    width: 900px;
    margin: 0 auto; /* zero up&bottom auto left&right - center */
}

/* HELPERS */
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden{
    display: none;
}

/* screens */

 @media screen and (max-width: 925px) {
    .main-layout{
        width: 90%;
        margin: 0 auto;
    }
    .content-container{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .main-top-bar{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .search-input{
        width: 80vw;
        border-radius: 29px;
    }
} 

@media screen and (max-width: 778px) {
    .header-container button {
        display: block;
    }

    .main-header-nav {
        position: absolute;
        flex-direction: column;
        top: 40px;
        width: 86%;
        border-inline-start: 1px solid var(--clr4);
        background-color: rgba(128, 128, 128, 0.712);
        font-size: 1.5em;
        transform: translateY(-150%);
        transition: .5s;
        opacity: 1;
    }

    body.menu-open .main-header-nav {
        box-shadow: 0 3px 6px 0 var(--clr2);
        transform: translateY(0);
    }

    .main-header-nav li {
        padding: 1em;
        width: 100%;
        border-bottom: 2px solid var(--clr4);
    }
}

/* @media screen and (max-width: 915px) {
    .main-layout{
        width: 90%;
        margin: 0 auto;
    }
    .content-container{
        flex-direction: column;
        height: 100vh;
        align-items: center;
        
    }
} */
/* @media screen and (max-width: 777px) {
    .content-container{
        height: 120vh;
    }
} */
/* @media screen and (max-width:800px) {
    .content-container{
        height: 130vh;
    }
    .main-top-bar{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .search-input{
        width: 80vw;
        border-radius: 29px;
    }
}
@media screen and (max-width:584px) {
    .content-container{
        height: 130vh;
    }
    .main-top-bar{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .search-input{
        width: 80vw;
        border-radius: 29px;
    }
} */