*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--clr1);
}

image{
    width: 100%;
}

/* HEADER */

.header-container{
    height: 12vh;
    justify-content: center;
}

.main-header{
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    height: 73px;
    width: 100%;
}

.main-logo{
    width: 130px;
    height: 20px;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/logo.png');
    margin-left: 80px;
}

.main-header-nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.main-header-nav a:hover {
    background-color: #ffffff;
    color: #33be6d;
    border-radius: 37px;
}

.main-header-nav li{
    margin-right: 50px;
}


.menu-toggle{
    margin-right: 30px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    cursor: pointer;
    font-size: 30px;
    height: 48px;
    max-width: 100%;
    padding: 2px 24px;
    position: relative;
}

.menu-toggle:hover {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 0%);
}

/* MODAL */
.modal{
    color: white;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    font-size: 32px;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 10;
    border-radius: 30px;
}
.close {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

/* MAIN CONTENT*/
.content-container{
    flex-direction: column;
    background-color: var(--clr2);
    border-radius: 10px;
    height: 81vh;
    align-items: center;
}

.search-input{
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 29px;
    background-color: var(--clr3);
}

/* GALLERY */

.gallery-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.meme-img{
    height: 160px;
    border-radius: 14px;
}

.meme-img:hover{
    cursor: pointer;
    opacity:0.5;
}

.main-top-bar{
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
}

/* EDITOR */
.main-editor{
    flex-direction: row;
}
.editor{
    position: relative;
    background-color: var(--clr2);
    width: 370px;
    height: 514px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #353536, inset 5px 5px 5px #353536;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.main-font{
font-size: 35px;
width: 59%;
height: 50px;
box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
border-radius: 10px;
background-color: #ffffff;
}

.outline{
background-color: #ffffff;
box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
border-radius: 10px;
width: 55px;
height: 48px;
}

label{
    position: relative;
}

.colors{
    position: absolute;
    top: 0%;
    display: inline;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.emojis{
    height: 91px;
    border-radius: 45px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.text-impact-1{
    gap: 15px;
}

.text-impact-2 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #19a59f;
    border-radius: 15px;
    padding: 5px;
    width: 90%;
}

.text{
    font-size: 30px;
    margin-top: 20px;
    width: 90%;
    height: 57px;
    box-shadow: 1px 2px 0 #ffffff, inset 0 2px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
}

canvas{
    border-radius: 30px;
    background-color: var(--clr2);
    box-shadow: 5px 5px 5px #353536, inset 5px 5px 5px #353536;
}

.pressed{
    border: 1px solid black;
}

.save-and-download{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.download{
    width:150px;
}
.save-meme{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 150px;
    height: 35px;
    box-shadow: 1px 3px 0 #165c9c, inset 0 5px 0 #5c8ce6;
    border-radius: 10px;
    background-color: #1e7cd3;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.share-icon{
    width: 15px;
    height: 15px;
}
/*  FOOTER*/
footer{
    color: white;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* VARS */

:root{
    --clr1: #22252c; /* bg-body */
    --clr2: #383b42;  /* bg-gallery */
    --clr3: #22252c;  /* search bar */
    --clr4: #afb1b4; /*editor*/
}

/* LAYOUT */
.main-layout{
    width: 900px;
    margin: 0 auto; /* zero up&bottom auto left&right - center */
}

/* HELPERS */
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden{
    display: none;
}

/* screens */

 @media screen and (max-width: 925px) {
    .main-layout{
        width: 90%;
        margin: 0 auto;
    }
    .content-container{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .main-top-bar{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .search-input{
        width: 80vw;
        border-radius: 29px;
    }

    .main-editor{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .editor{  
        width: 500px;
    }
    canvas{
        width: 500px;
        height: 500px;
    }
} 

@media screen and (max-width: 778px) {
    .header-container button {
        display: block;
    }

    .main-header-nav {
        position: absolute;
        flex-direction: column;
        top: 115px;
        left: 45%;
        width: 55%;
        background-image: linear-gradient(-86deg, #2cf17e 0%, #0c7086 100%);
        font-size: 1.5em;
        transform: translateY(-150%);
        transition: .5s;
        opacity: 1;
        z-index: 20;
    }

    body.menu-open .main-header-nav {
        box-shadow: 0 3px 6px 0 var(--clr2);
        transform: translateX(0);
    }
    
    .main-header-nav li {
        padding: 1em;
        width: 100%;
        border-bottom: 3px solid #085566;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 774px) {
    .content-container{
        height: 124vh;
    }
}
@media screen and (max-width: 583px) {
    .content-container{
        height: 160vh;
    }
}
@media screen and (max-width: 414px) {
    .content-container{
        height: 174vh;
    }
    .editor{  
        width: 340px;
        height: 550px;
    }
    canvas{
        width: 300px;
        height: 300px;
    }
    footer{
        font-size: 13px;
    }
    .modal{
        font-size: 32px;
        width: 90%;
        height: 40%;
        left: 5%;
        top: 20%;
    }
}
@media screen and (max-width: 390px) {
    .content-container{
        height: 185vh;
    }
}
@media screen and (max-width: 375px) {
    .content-container{
        height: 235vh;
    }
    footer{
        font-size: 12px;
    }
}

/* ANIMATION */
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
  .slide-out-elliptic-top-bck {
	-webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
	        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

 @-webkit-keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  
